<!DOCTYPE html>
<html>
<head>
  <title><%= content_for :title %> | RB Golf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do | key, value | %>
    <%= content_tag(:div, class: ['alert', "alert-#{key}"]) do %>
      <%= value %>
    <% end %>
  <% end %>

<%= yield %>

</body>
</html>
